<header>
  <div class="container header-inner">
    <a href="/" class="logo">
      <img src="/media/logo.png" alt="Buitrago Logo" />
    </a>

    <div class="header-right">
      <nav>
        <ul class="nav-menu">
          <li><a href="/">Inicio</a></li>
          <li><a href="/#categorias">Muebles</a></li>
          <li><a href="/#contacto">Contacto</a></li>
        </ul>
      </nav>

      <!-- PEGÃS TODA LA PARTE DE REDES (SVGs) TAL CUAL -->
    </div>
  </div>
</header>
